// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/tables";



tr > [aria-sort="ascending"]{
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' width='18px' height='18px' viewBox='0 0 16 16' id='sort-down-16px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Path_35' data-name='Path 35' d='M-16.146 12.146a.5.5 0 0 1 0 .708l-3 3a.518.518 0 0 1-.163.109A.5.5 0 0 1-19.5 16a.5.5 0 0 1-.191-.038.518.518 0 0 1-.163-.109l-3-3a.5.5 0 0 1 0-.708.5.5 0 0 1 .708 0L-20 14.293V.5a.5.5 0 0 1 .5-.5.5.5 0 0 1 .5.5V14.293l2.146-2.147A.5.5 0 0 1-16.146 12.146ZM-14.5 3h1a.5.5 0 0 0 .5-.5.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5A.5.5 0 0 0-14.5 3Zm0 4h3a.5.5 0 0 0 .5-.5.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5A.5.5 0 0 0-14.5 7Zm0 4h5a.5.5 0 0 0 .5-.5.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0-.5.5A.5.5 0 0 0-14.5 11Zm7 3h-7a.5.5 0 0 0-.5.5.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5A.5.5 0 0 0-7.5 14Z' transform='translate(23)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
background-size: auto;
background-position: right;
}

tr > [aria-sort="descending"]{
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' width='18px' height='18px' viewBox='0 0 16 16' id='sort-up-16px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Path_34' data-name='Path 34' d='M-14.146 3.146a.5.5 0 0 1 0 .708A.5.5 0 0 1-14.5 4a.5.5 0 0 1-.354-.146L-17 1.707V15.5a.5.5 0 0 1-.5.5.5.5 0 0 1-.5-.5V1.707l-2.146 2.147a.5.5 0 0 1-.708 0 .5.5 0 0 1 0-.708l3-3a.518.518 0 0 1 .163-.109.505.505 0 0 1 .382 0 .518.518 0 0 1 .163.109ZM-12.5 3h1a.5.5 0 0 0 .5-.5.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5A.5.5 0 0 0-12.5 3Zm0 4h3A.5.5 0 0 0-9 6.5.5.5 0 0 0-9.5 6h-3a.5.5 0 0 0-.5.5A.5.5 0 0 0-12.5 7Zm0 4h5a.5.5 0 0 0 .5-.5.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0-.5.5A.5.5 0 0 0-12.5 11Zm7 3h-7a.5.5 0 0 0-.5.5.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5A.5.5 0 0 0-5.5 14Z' transform='translate(21 0)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
background-size: auto;
background-position: right;
}

tr > [aria-sort="other"]{
    background-image: url("data:image/svg+xml,%3Csvg width='18px' height='18px' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000000' d='M384 96a32 32 0 0 1 64 0v786.752a32 32 0 0 1-54.592 22.656L95.936 608a32 32 0 0 1 0-45.312h.128a32 32 0 0 1 45.184 0L384 805.632V96zm192 45.248a32 32 0 0 1 54.592-22.592L928.064 416a32 32 0 0 1 0 45.312h-.128a32 32 0 0 1-45.184 0L640 218.496V928a32 32 0 1 1-64 0V141.248z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
background-size: auto;
background-position: right;
}